.quadrado {
    margin-left: 350px;
    margin-top: 85px;
    width: 60%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.contatos {
    color: black;
    text-align: left;
}

.contatos h2 {
    margin-bottom: 20px;
    color: #333;
}

.contatos ul {
    list-style: none;
    padding: 0;
}

.contatos li {
    margin-bottom: 15px;
    font-size: 18px;
}

.contatos a {
    color: #0077b5;
    text-decoration: none;
    transition: color 0.3s;
}

.contatos a:hover {
    color: #005582;
    text-decoration: underline;
}
