/* Fundo da página */
body {
    background-color: #c3c6d1;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  

  
  /* Alinhamento central do conteúdo principal */
  .container-fluid {
    min-height: 5vh; /* Altura mínima da tela */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para a única coluna */
  .col-10 {
    background-color: white;
    border-radius: 8px;
    min-height: 80vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body{
    min-height: 30vh;
    width: 500px;
  }
  .card{
    margin-top: 80px;
    width: 500px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cards (tanto vertical quanto horizontal) */
    justify-content: center; /* Para centralizar os cards na tela */
  }
  

  .img-small{
        width: 100%;
        max-width: 100px; /* Limita a largura máxima */
        height: auto;     /* Mantém a proporção da imagem */
        margin-left: 180px;
  }
  
  .btn-primary{
    margin-left: 180px;
    background-color:#566cd1;
  }
  
  .btn-primary-2{
    margin-left: 180px;
    background-color:#566cd1;
    margin-top: 10px;
    color: white;
  }
  .card-title{
    text-align: center;
  }